/* Import da fonte */
@font-face {
    font-family: 'CircularStd';
    src: url('/assets/fonts/circular-std/CircularStd-Medium.woff2') format('woff2'),
         url('/assets/fonts/circular-std/CircularStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Estilizações globais */
*{
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Variáveis globais */
:root{
    /* Variáveis de cor raiz */
    --cor-roxo: #351330;
    --cor-lilas: #424254;
    --cor-ciano: #64908A;
    --cor-nude: #E8CAA4;
    --cor-salmao: #CC2A41;

    /* Variáveis de cor auxiliares */
    --cor-cinza: #242424;
    --color-cinza-claro: #858383;
    --cor-branco: #D9D9D9;

    /* Variáveis de efeito */
    --blur-glass-efect: 20px;
    --shadow-botoes: 0 4px 8px rgba(0, 0, 0, 0.2);

    /* Variáveis de fonte */
    --CircularStd: 'CircularStd', sans-serif;
}

#body-home{
    background-color: var(--cor-cinza);
    background-position: center;
}

#body-home aside{
    height: 100vh;

}

#body-home aside ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: clamp(400px, 100%, 100%);
    margin-left: 2vw;
}

#body-home aside ul img{
    height: clamp(70px, 15vh, 15vw);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

#body-home aside ul img:hover{
    transform: scale(1.1);
}

#body-home h1{
    color: var(--color-cinza-claro);
    font-family: var(--CircularStd);
    font-weight: 100;
    opacity: 0.7;
    margin-bottom: 1vh;
    font-size: 4.5vh;
}

#body-home h2{
    color: rgb(88, 88, 88);
    font-family: var(--CircularStd);
    font-weight: 100;
    opacity: 0.7;
    margin-bottom: 2vh;
    font-size: 3vh;
}

#body-home div{
    position: absolute;
    z-index: 1;

    top: calc(85vh / 2);
    left: calc(60vw / 2);
}

#body-home form{
    position: absolute;
    z-index: 1;

    width: 35vw;
    height: 35vh;

    top: calc((100vh - 39vh)/2);
    left: calc((100vw - 32vw) / 2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#body-home form ul{
    display: flex;
    gap: 1vw;
}

#body-home form input{
    width: calc(4vw + 4vh);
    height: calc(4vw + 4vh);
    font-size: calc(2vw + 2vh);
    color: var(--color-cinza);

    text-align: center;

    background-color: var(--color-cinza-claro);
    opacity: 0.6;
    border: calc(0.3vw + 0.3vh) solid var(--color-cinza-claro);
    border-radius: 10px;
}

#body-home form input:focus{
    outline: 3px solid var(--cor-branco);
    outline-offset: -3px;
}

.inativo{
    display: none !important;
}