/* Import das fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@font-face {
    font-family: 'CircularStd';
    src: url('/assets/fonts/circular-std/CircularStd-Medium.woff2') format('woff2'),
         url('/assets/fonts/circular-std/CircularStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Estilizações globais */
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

/* Variáveis globais */
:root{
    /* Variáveis de cor raiz */
    --cor-roxo: #351330;
    --cor-lilas: #424254;
    --cor-ciano: #64908A;
    --cor-nude: #E8CAA4;
    --cor-salmao: #CC2A41;

    /* Variáveis de cor auxiliares */
    --cor-cinza: #2d2d2d;
    --color-cinza-claro: #858383;
    --cor-branco: #D9D9D9;

    /* Variáveis de efeito */
    --blur-glass-efect: 20px;
    --shadow-botoes: 0 4px 8px rgba(0, 0, 0, 0.347);

    /* Variáveis de fonte */
    --CircularStd: 'CircularStd', sans-serif;
    --RobotoMono: 'Roboto Mono';
}

#body-feed{
    overflow-x: hidden;
}

/* estilizações menu */
#body-feed header{
    transition: all 0.5s;

    width: 100%;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;

    top: 0;
    z-index: 1;
}

#body-feed header>div{
    background-color: var(--cor-branco);
    width: 30vw;
    height: 6vh;

    display: flex;

    border-radius: 10px;

    padding: 0 1vw;

    transition: all 0.5s;
}

#div-hamburguer{
    display: flex;
    flex-direction: column;
    gap: 5px;

    margin-top: 16px;
}

#div-hamburguer:hover{
    cursor: pointer;
}

#div-hamburguer.active .linha:nth-child(1){
    transform: translateX(4px) rotate(45deg) translateY(6px) ;
}

#div-hamburguer.active .linha:nth-child(2){
    transform: translateX(4px) rotate(-45deg) translateY(-6px) ;
}

.linha{
    background-color: var(--cor-cinza);
    height: 3px;
    width: 25px;

    transition: all 0.3s ease;
}

#div-topo{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#div-topo img{
    width: 30px;
    height: 30px;
    opacity: 0;
}

#div-topo h1{
    color: var(--cor-cinza);
    font-family: var(--CircularStd);
    font-size: 22px;
    font-weight: 500;

    margin-top: 11px;
}

/* estilizações destaque */
#section-destaque{
    display: flex;
    width: 100%;
    height: 100vh;
}

#section-destaque section{
    width: 100vw;
    height: 100vh;
}

#section-destaque ul{
    display: flex;

    flex-shrink: 0;
    transition: transform 0.5s ease-in-out;
}

#section-destaque div{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: calc(55vh);
}

#section-destaque div img{
    width: 40px;
    height: 40px;

    margin: 0 20px;

    opacity: 0.7;
    transition: all 0.3s;
}

#section-destaque div img:hover{
    cursor: pointer;
    opacity: 1;
}

#section-meio{
    background-image: url('/assets/elements/destaque.jpg');
    background-position: center;
}

#section-inicio{
    background-image: url('/assets/elements/destaque2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section-fim{
    background-image: url('/assets/elements/destaque3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#feed{
    height: 200vh;
    background-color: var(--cor-cinza);
}

#container-navegacao{
    height: 25vh;
    width: 30vw;
    position: absolute;
    top: 40vh;

    display: none;
}

#container-navegacao.active{
    display: flex;
}

#container-navegacao ul{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

#container-navegacao ul a li{
    color: var(--cor-cinza);
    font-family: var(--RobotoMono);
    font-size: 30px;
    font-weight: 500;

    transition: all 0.3s;
}

#container-navegacao ul a li:hover{
    cursor: pointer;
    color: var(--cor-salmao);
    transform: scale(1.05);
}	

#load{
    position: fixed;
    z-index: 8;
    height: 100vh;
    width: 100vw;
    background-color: var(--cor-branco);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    transition: left 1s;
}

#load img{
    width: 10vw;
    animation: girar 2s linear infinite;
}

#load-camada-1{
    position: fixed;
    z-index: 7;
    height: 100vh;
    width: 100vw;
    background-color: var(--cor-salmao);

    left: 0;
    transition: left 1.5s;
}

#cima{
    opacity: 0;
    transition: opacity 0.5s;
}
#meio{
    opacity: 0;
    transition: opacity 0.7s;
}
#baixo{
    opacity: 0;
    transition: opacity 0.9s;
}
@keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .span-container-destaque{
    width: 45vw;
    height: 20vh;

    position: absolute;

    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-top: 65vh;
    margin-left: 5vw;
  }

  .descricao-destaque h1{
    color: var(--cor-branco);
    font-family: var(--CircularStd);
  }

  .descricao-destaque p{
    width: 40vw;
    color: var(--cor-branco);
    font-family: var(--RobotoMono);
    font-size: 15px;

  }

  .descricao-destaque{
    background-color: #2d2d2d6d;
    backdrop-filter: blur(5px);

    padding: 20px;

    width: 40vw;
    border-radius: 25px;
  }

  .botoes-destaque{
    display: flex;
    gap: 20px;
  }

  .botoes-destaque a button{
    background-color: #2d2d2d6d;
    backdrop-filter: blur(5px);
    border: none;
    height: 6vh;
    width: 10vw;
    color: var(--cor-branco);
    font-family: var(--RobotoMono);
    font-size: 15px;
    border-radius: 20px;
    transition: all 0.3s;
  }

  .botoes-destaque a button:hover{
    cursor: pointer;
    background-color: var(--cor-salmao);
    box-shadow: var(--shadow-botoes);
  }

  .botoes-destaque button{
    height: 6vh;
    width: 6vh;
    border-radius: 20px;
    background-color: #2d2d2d6d;
    backdrop-filter: blur(5px);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
  }

  .botoes-destaque button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.344);
    box-shadow: var(--shadow-botoes);
  }